Microservicio-Administracion/.vs/
Microservicio-Administracion/bin/
Microservicio-Administracion/obj/

Microservicio-Autenticación/.vs/
Microservicio-Autenticación/bin/
Microservicio-Autenticación/obj/